# Project Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

# API Configuration (Future setup)
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=
# SUPABASE_SERVICE_ROLE_KEY=

# Analytics
NEXT_PUBLIC_VERCEL_ANALYTICS_ID=
